@model IEnumerable<LTA.Models.LoaiDanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLoaiDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaLoaiDanhMuc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenLoaiDanhMuc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TrangThai)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiDanhMuc }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaLoaiDanhMuc }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiDanhMuc })
    </td>
</tr>
}

</table>
