@model IEnumerable<LTA.Models.Ngay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayThang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NgayThang)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.NgayThang }) |
        @Html.ActionLink("Details", "Details", new { id = item.NgayThang }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.NgayThang })
    </td>
</tr>
}

</table>
