@model IEnumerable<LTA.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDanhMuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SoDon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaNhanVien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayThang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaDanhMuc)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SoDon }) |
        @Html.ActionLink("Details", "Details", new { id = item.SoDon }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SoDon })
    </td>
</tr>
}

</table>
