@model IEnumerable<LTA.Models.DonPhieuThu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoPhieuThu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGiaDanhMuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SoPhieuThu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaDanhMuc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TienDanhMuc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DonGiaDanhMuc)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SoPhieuThu }) |
        @Html.ActionLink("Details", "Details", new { id = item.SoPhieuThu }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SoPhieuThu })
    </td>
</tr>
}

</table>
